<?xml version="1.0"?>
<config>
	<modules>
		<Llapgoch_PriceTest>
			<version>0.1.0</version>
		</Llapgoch_PriceTest>
	</modules>
	
	<global>
		<models>
			<llapgoch_pricetest>
				<class>Llapgoch_PriceTest_Model</class>
			</llapgoch_pricetest>
		</models>
	</global>
	
	<frontend>
		<layout>
			<updates>
				<llapgoch_pricetest>
					<file>llapgoch/price_test.xml</file>
				</llapgoch_pricetest>
			</updates>
		</layout>
		<events>
			<!-- Enable these for things to happen! -->
			<!-- <controller_action_predispatch>
				<observers>
					<llapgoch_pricetest_output>
						<model>llapgoch_pricetest/observer</model>
						<method>getPrices</method>
						<type>model</type>
					</llapgoch_pricetest_output>
				</observers>
			</controller_action_predispatch>

			<catalog_product_get_final_price>
				<observers>
					<llapgoch_modify_price>
						<model>llapgoch_pricetest/observer</model>
						<method>modifyPrices</method>
						<type>model</type>
					</llapgoch_modify_price>
				</observers>
			</catalog_product_get_final_price>

			<checkout_cart_product_add_after>
				<observers>
					<llapgoch_modify_add_to_cart_price>
						<model>llapgoch_pricetest/observer</model>
						<method>modifyItem</method>
						<type>model</type>
					</llapgoch_modify_add_to_cart_price>
				</observers>
			</checkout_cart_product_add_after> -->
			
			<!-- <catalog_product_is_salable_after>
				<observers>
					<llapgoch_modify_saleable>
						<model>llapgoch_pricetest/observer</model>
						<method>modifySaleable</method>
						<type>model</type>
					</llapgoch_modify_saleable>
				</observers>
			</catalog_product_is_salable_after> -->
		</events>
	</frontend>
</config>